[submodule "plugins/artisan"]
	path = plugins/artisan
	url = git@github.com:jessarcher/zsh-artisan.git
[submodule "plugins/zsh-autosuggestions"]
	path = plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
