[submodule "plugins/artisan"]
	path = plugins/artisan
	url = git@github.com:jessarcher/zsh-artisan.git
[submodule "plugins/zsh-autosuggestions"]
	path = plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "plugins/zsh-syntax-highlighting"]
	path = plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "themes/spaceship-prompt"]
	path = themes/spaceship-prompt
	url = https://github.com/spaceship-prompt/spaceship-prompt.git
